# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/

# Rider
.idea/
*.iml
riderModule.iml
/_ReSharper.Caches/

# NuGet Packages
packages/

# WPF
*.Designer.cs
*.g.cs
*.g.i.cs

# Others
*.log
*.vspscc
*.vssscc
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db

# User-specific files
*.rsuser
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# Resharper
_ReSharper*/

# DotCover
*.dotCover

# Backup & report files
*.bak
*.old
*.orig
*.tmp

# Others (optional)
*.DS_Store
Thumbs.db
